<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Untitled Document</title>
    <link rel="stylesheet" href="/css/vote.css">
  </head>

  <body>
    <div class="back-content">
       
        <div class="back-inner">
            <h4>標題</h4>
                <form action="">
                  <p>  名稱: <input type="text"></p>
               <p> 時間: <input type="date" value="1987-06-04"></p> 
                <p>選擇: <select name="" id="">
                        <option value="">1000000000</option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                        <option value="">1</option>
                    </select>   </p>      
                <p>描述:<br>
                 <textarea name="" id=""></textarea></p> 
                 <input type="submit" value="送出">
            </form>
           
        </div>
    </div>
    

  </body>

</html>